<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>UthmanTN1Ver10.otf</string>
		<string>pdms-saleem-quranfont.ttf</string>
		<string>diwani-bent.ttf</string>
		<string>NotoNastaliqUrdu-VariableFont_wght.ttf</string>
		<string>Jameel Noori Nastaleeq Regular.ttf</string>
		<string>Al-Majeed-Quranic-Font_shiped.ttf</string>
		<string>Al-Qalam-Quran-Majeed.ttf</string>
		<string>Al-Qalam-Quran-Majeed-1.ttf</string>
		<string>Al-Qalam-Quran-Majeed-2.ttf</string>
	</array>
</dict>
</plist>
